/*--- movieForm.css ---*/
/*--- BOX PROPERTIES ---*/
.mode {
  position: relative;
}

.movie-button-save {
  position: relative;
}

.movie-button-reset {
  position: relative;
}

.movie-duration {
  position: relative;
}

.movie-duration-input {
  margin-left: 20px;
}

.movie-form {
  position: relative;
}

.movie-title {
  position: relative;
}

.movie-title-input {
  margin-left: 20px;
}

.movie-year {
  position: relative;
}

.movie-year-input {
  margin-left: 20px;
}

/*--- BOX BORDERS ---*/

/*--- BACKGROUND PROPERTIES ---*/

/*--- TEXT PROPERTIES ---*/
.mode {
  color: blue;
}

/*--- TRANSITIONS ---*/
