.hello-world {
  font-size: 20px;
  font-family: arial;
}

.flag-ico {
  width: 30px;
  height: 30px;
}

/* --- large screens --- */
@media only screen
and (min-device-width : 800px) {
  .play-game {
    width: 50%;
  }

  .flag {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/* --- small screens --- */
@media only screen
and (max-device-width : 800px) {
  .play-game {
    width: 100%;
  }

  .flag {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.play-game {
  margin: auto;
  max-width: 100%;
  min-width: 50%;
}

.countryOption {
  margin-top: 10px;
}

.login {
  text-align: center;
}
