.hello-world {
  font-size: 20px;
  font-family: arial;
}

.flag-ico {
  width: 30px;
  height: 30px;
}

.play-game {
  margin: auto;
  width: 50%;
}

.countryOption {
  margin: 10px;
}

.flag {
  height: 300px;
  margin: auto;
  width: 600px;
}
