/*--- BOX PROPERTIES ---*/
#mode {
  left: 30px;
  position: absolute;
  top: 25px;
}

#movie-button-save {
  left: 30px;
  position: absolute;
  top: 170px;
}

#movie-button-reset {
  left: 140px;
  position: absolute;
  top: 170px;
}

#movie-duration {
  left: 30px;
  position: absolute;
  top: 130px;
}

#movie-duration-input {
  margin-left: 20px;
}

.movies-table {
  left: 30px;
  position: absolute;
  top: 210px;
}

#movie-title {
  left: 30px;
  position: absolute;
  top: 70px;
}

#movie-title-input {
  margin-left: 20px;
}

#movie-year {
  left: 30px;
  position: absolute;
  top: 100px;
}

#movie-year-input {
  margin-left: 20px;
}

.no-movies {
  left: 30px;
  position: absolute;
  top: 210px;
}

/*--- BOX BORDERS ---*/

/*--- BACKGROUND PROPERTIES ---*/

/*--- TEXT PROPERTIES ---*/
#mode {
  color: blue;
}

.no-movies {
  color: red;
}

/*--- TRANSITIONS ---*/
