/*--- BOX PROPERTIES ---*/
.hidden {
  opacity: 0;
}

.results {
  position: absolute;
  left: 70%;
  top: 10%;
}

.search {
  position: absolute;
  left: 20%;
  top: 40%;
}

/*--- BOX BORDERS ---*/


/*--- BACKGROUND PROPERTIES ---*/


/*--- TEXT PROPERTIES ---*/
#repositories-list {
  text-align: left;
}

#search-status {
  color: red;
}

section {
  text-align: center;
}
