* {
  font-size: 14px;
  font-family: Courier;
}

header, footer, aside, nav {
  background-color: yellow;
}

header, footer {
  text-align: center;
}

.header {
  font-size: 46px;
}

.footer {
  font-size: 10px;
}

.content {
  font-size: 14px;
}

.sidebar {
  font-size: 10px;
}

.navigation {
  font-size: 12px;
}

[class$="r"] {
  background-color: magenta;
}

[class*="a"]:not([class$="r"]) {
  background-color: blue;
}
