/*--- BOX PROPERTIES ---*/
button {
  height: 50px;
  position: absolute;
  right: 30%;
  width: 70px;
}

canvas {
  height: 400px;
  left: 0px;
  position: absolute;
  width: 400px;
}

#draw {
  top: 30%;
}

#start {
  top: 40%;
}

/*--- BOX BORDERS ---*/
canvas {
  border-style: dotted;
  border-width: 1px;
}

/*--- BACKGROUND PROPERTIES ---*/

/*--- TEXT PROPERTIES ---*/

/*--- TRANSITIONS ---*/
